
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@model List<ModelEntity.Frameworks.TB_STORE>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Store</title>
</head>
<body>
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">List Employee</h1>
        @*<p class="mb-4">
                DataTables is a third party plugin that is used to generate the demo table below.
                For more information about DataTables, please visit the <a target="_blank"
                                                                           href="https://datatables.net">official DataTables documentation</a>.
            </p>*@

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary"><a href="#">Add new</a></h6>
            </div>
            <div class="card-body">
                <div class="table-responsive" style="overflow-x: hidden !important">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr style="background-color: #e0f9f0;">
                                <th>ID</th>
                                <th>Store Name</th>
                                <th>Manager</th>
                                <th>Contact</th>
                                <th>Address</th>
                                <th>Created Date</th>
                                <th>Status</th>
                                <th style="width: 120px !important; min-width: 120px !important"></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr style="background-color: #e0f9f0;">
                                <th>ID</th>
                                <th>Store Name</th>
                                <th>Manager</th>
                                <th>Contact</th>
                                <th>Address</th>
                                <th>Created Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.S_ID</td>
                                    <td>@item.S_NAME</td>
                                    <td>@item.S_EMPLOYEE_NAME</td>
                                    <td>@item.S_CONTACT</td>
                                    <td>@item.S_ADDRESS</td>
                                    <td>@item.D_CREATED.ToString("dd/MM/yyyy")</td>
                                    <td>@item.S_STATUS</td>
                                    <td>
                                        <a href="@Url.Action("Edit","Store", new { s_id = @item.S_ID })" style="margin-left: 5px">Edit</a>

                                        <a href="@Url.Action("InActiveStore","Store", new { s_id = @item.S_ID })" style="margin-left: 10px;color: red" onclick="myFunction()">InActive</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->
    <!-- Edit Modal-->
    

    <script>
        function myFunction() {
            alert("InActive Store success!");
        }
    </script>
</body>
</html>
