
@{
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
@model E_Project.Areas.Admin.Model.AccountModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">

                <div class="col-lg-12 text-center">
                    <div class="p-5 text-center">
                        <div class="form-group col-lg-12 text-center">
                            <h1 class="h4 text-gray-900 mb-4">CREATE ACCOUNT</h1>
                        </div>

                        @using (Html.BeginForm())
                        {

                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1" style="float:left !important">ACCOUNT</label>
                        @Html.TextBoxFor(model => model.account, new { @class = "form-control form-control-user", @placeholder = "account..." })

                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1" style="float:left !important">PASSWORD</label>
                        @Html.TextBoxFor(model => model.password, new { @class = "form-control form-control-user", @placeholder = "password..." })

                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1" style="float:left !important">FULL NAME</label>
                        @Html.TextBoxFor(model => model.fullName, new { @class = "form-control form-control-user", @placeholder = "fullName..." })

                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1" style="float:left !important">PHONE</label>
                        @Html.TextBoxFor(model => model.phone, new { @class = "form-control form-control-user", @placeholder = "phone..." })

                    </div>

                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1" style="float:left !important">ADDRESS</label>
                        @Html.TextBoxFor(model => model.address, new { @class = "form-control form-control-user", @placeholder = "address..." })

                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1" style="float:left !important">TECHNICAL</label>
                        @Html.TextBoxFor(model => model.technical, new { @class = "form-control form-control-user", @placeholder = "technical..." })

                    </div>
                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1" style="float:left !important">BIRTHDAY</label>
                        @Html.TextBoxFor(x => x.birthDay, new { @class = "form-control form-control-user", @type = "date" })

                    </div>
                           
                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1" style="float:left !important">TYPE</label>
                        @Html.DropDownListFor(n => n.type, new SelectList(Model.accountTypeList, "id", "modelName"), new { @class = "form-control form-control-user" })
                    </div>


                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1" style="float:left !important">STORE</label>
                        @Html.DropDownListFor(n => n.storeId, new SelectList(Model.storeList, "id", "modelName"), new { @class = "form-control form-control-user" })

                    </div>

                    <div class="form-group col-lg-12">
                        <label for="exampleInputEmail1" style="float:left !important">DEPARTMENT</label>
                        @Html.DropDownListFor(n => n.departmentId, new SelectList(Model.departmentList, "id", "modelName"), new { @class = "form-control form-control-user" })

                    </div>

                            <div class="form-group col-lg-6 row">
                                <div class="form-group col-lg-2 row">
                                    <a href="@Url.Action("List","Account")" class="btn btn-danger btn-user btn-block" style="margin-left: 10px">Cancel</a>
                                </div>
                                <div class="form-group col-lg-2 row">
                                    <button type="submit" class="btn btn-primary btn-user btn-block" style="margin-left: 10px" onclick="myFunction()">Save</button>
                                </div>

                            </div>
                        }


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function myFunction() {
            alert("Create Account success!");
        }
    </script>
</body>
</html>

