
@{
    Layout = "~/Views/Shared/_layout.cshtml";
}
@using E_Project.Areas.Admin.Utils
@model E_Project.Models.IndexModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container">
        <section class="py-5 bg-light">
            <div class="container">
                <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
                    <div class="col-lg-6">
                        <h1 class="h2 text-uppercase mb-0">PRODUCT</h1>
                    </div>
                    <div class="col-lg-6 text-lg-right">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">PRODUCT</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </section>
      
        <!-- TRENDING PRODUCTS-->
        <section class="py-5">
            <header>
                <p class="small text-muted small text-uppercase mb-1">Made the hard way</p>
                <h2 class="h5 text-uppercase mb-4">Products</h2>
            </header>
            <div class="row">
                <!-- PRODUCT-->
                @foreach (var item in Model.Products)
                {

                    <div class="col-xl-4 col-lg-4 col-sm-6">
                        <div class="product text-center">
                            <div class="position-relative mb-3">
                                <div class="badge text-white badge-"></div><a class="d-block" href="@Url.Action("Index","Detail", new { id = @item.N_ID, type = "PRODUCT"})"><img class="img-fluid w-100" src="~/Assets/Admin/img/@item.S_DETAIL" alt="..." style="height:350px !important"></a>
                                <div class="product-overlay">
                                    <ul class="mb-0 list-inline">
                                        @*<li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i class="far fa-heart"></i></a></li>*@
                                        @if (Session["inforSession"] == null)
                                        {
                                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="@Url.Action("Login","User")">Add to cart</a></li>
                                        }
                                        else
                                        {
                                            <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="@Url.Action("Index","Detail", new { id = @item.N_ID, type = "PRODUCT"})">Detail</a></li>
                                        }

                                        @*<li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark" href="#productView" data-toggle="modal"><i class="fas fa-expand"></i></a></li>*@
                                    </ul>
                                </div>
                            </div>
                            <h6> <a class="reset-anchor" href="detail.html">@item.S_NAME</a></h6>
                            <p class="small text-muted">$@item.N_PRICE</p>
                        </div>
                    </div>

                }

            </div>
        </section>

    </div>

</body>
</html>
